@import url("https://fonts.googleapis.com/css2?family=Seymour+One&family=Shadows+Into+Light&display=swap");
@font-face {
  font-family: "Seymour One", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Seymour+One.woff'")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Shadows Into Light", "cursive";
  src: url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
  font-weight: normal;
  font-style: normal;
}
